Loops

In [1]:
s = ["apple", "banana", "orange"]


for i in s:
    print(i)

apple
banana
orange

In [2]:
for i in 'abcdefghij':

    if i == 'e' or i == 'g':
        continue
    print(i)

a
b
c
d
f
h
i
j

In [3]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [6]:
for i in range(10):
    pass
print(i)

9

In [7]:
for num in range(1, 60, 3):
   print (num, end=' ')

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58

In [9]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers:
   print (x)

10
20
30
40

In [10]:
my_set = {25, 12, 10, -21, 10, 100}


for item in my_set:
   print("Item:", item)

Item: 100
Item: 25
Item: 10
Item: -21
Item: 12